<div class="container">
  <!-- <app-nav></app-nav> -->

  <!-- <div class="row">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <div class="input-group mb-3">
          <select class="form-select" aria-label="Default select example" name="category" [(ngModel)]="category"
            (change)="onSubmit()">
            <option selected value="general">Général</option>
            <option value="business">Business</option>
            <option value="entertainment">Divertissement</option>
            <option value="sports">Sports</option>
          </select>
        </div>

      </div>
    </div>
  </div> -->

  <button class='btn btn-primary' (click)="onSubmit('books')">Books</button>
  <button class='btn btn-primary' (click)="onSubmit('cars')">Cars</button>
  <!-- <button class='btn btn-primary'>Business</button>
  <button class='btn btn-primary'>technology</button> -->

<div *ngIf='spinnerOn && !listeArticles' class="spinner-border" role="status">
  <span class="sr-only"></span>
</div>

  <div class="row" *ngIf="listeArticles">
    <div class="card col-3 col-sm-4" *ngFor="let i of listeArticles">
      <img [src]="i.urls.small" class="card-img-top" alt={{i.title}}>
      <div class="card-body">
        <h5 class="card-title">{{i.description ? i.description : 'Pas de description'}}</h5>
        <p *ngIf='i.published_at' class="card-text"><small class="text-muted">Publié le {{i.published_at}}</small></p>
        <a href={{i.user.links.html}}>Lire plus</a>
      </div>
    </div>

    <!-- <ul class="list-group">
      <li
      class="list-group-item disabled"
      aria-disabled="true"
      *ngFor="let i of listeArticles">
      {{i.title}}
      </li>
    </ul> -->
  </div>

  <div class="row" *ngIf="!listeArticles">Aucune recherche</div>


</div><!-- fermeture container -->
<router-outlet></router-outlet>
